:root {
    --background: rgba(0, 0, 0, 0.1);
    --main: rgba(0, 0, 0, 1);
    --card: rgba(0, 0, 0, 0.2);
    --highlight: rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--background);
    color: var(--main);
    padding: 10px;
}

header {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.dark-mode {
    background-color: black;
    color: lightgray;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-container {
    flex: auto;
    box-sizing: border-box;
    padding: 5px;
}

.card {
    background-color: var(--card);
    padding: 10px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.card h2 {
    margin: 0;
}

.hidden {
    display: none;
}

.hl {
    background-color: var(--highlight);
}

img {
    height: 50px;
}

button {
    background-color: var(--background);
    color: var(--main);
    border: 1px solid var(--main);
    border-radius: 5px;
}

.basket-count {
    background-color: red;
    border-radius: 50%;
    padding: 0 2px;
}