:root {
    --background: rgba(0, 0, 0, 0.1);
    --main: rgba(0, 0, 0, 1);
    --card: rgba(0, 0, 0, 0.2);
    --highlight: rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--background);
    color: var(--main);
    padding: 10px;
}

.dark-mode {
    background-color: black;
    color: lightgray;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-container {
    flex: 1 1 50%;
}

.card {
    background-color: var(--card);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card h2 {
    margin: 0;
}

.hidden {
    display: none;
}

.hl {
    background-color: var(--highlight);
}

img {
    height: 50px;
}

.active-card {
    width: 100%;
}

button {
    background-color: var(--background);
    color: var(--main);
    border: 1px solid var(--main);
    border-radius: 5px;
}