:root {
    --background: rgba(0, 0, 0, 0.1);
    --main: rgba(0, 0, 0, 1);
    --card: rgba(0, 0, 0, 0.2);
    --highlight: rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--background);
    color: var(--main);
    padding: 0;
    margin: 0;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}
.options {
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.spacer {
    height: 80px;
    width: 100%;
}

.dark-mode {
    background-color: black;
    color: lightgray;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5px;
}

.card-container {
    flex: auto;
    box-sizing: border-box;
    padding: 5px;
}

.card {
    background-color: var(--card);
    padding: 10px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.card h2 {
    margin: 0;
}

.hidden {
    display: none;
}

.hl {
    background-color: var(--highlight);
}

img {
    height: 50px;
}

button, input {
    background-color: var(--background);
    color: var(--main);
    border: 1px solid var(--main);
    border-radius: 5px;
}

.basket-count {
    background-color: red;
    border-radius: 50%;
    padding: 0 2px;
}

.basket {
    position: fixed;
    top: 80px;
    right: 0;
    list-style: none;
    background-color: gray;
    margin: 0;
    padding: 0 20px;
    max-height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.basket::-webkit-scrollbar {
    display: none;
}

.basket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-item button {
    margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

.buttons button, .buttons input {
    margin: 5px;
}